<h4>Registration Form</h4>
<hr />
<form class="row g-3" [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
        <label for="validationDefault01" class="form-label">First Name</label>
        <input type="text" class="form-control" id="validationDefault01" formControlName="firstName" required>
    </div>
    <div class="col-md-6">
        <label for="validationDefault02" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="validationDefault02" formControlName="lastName" required>
    </div>
    <div class="col-md-6">
        <label for="validationDefaultUsername" class="form-label">username</label>
        <div class="input-group">
            <input type="text" class="form-control" formControlName="userName" id="validationDefaultUsername"
                aria-describedby="inputGroupPrepend2" placeholder="Username" required>
        </div>
    </div>
    <div class="col-md-6">
        <label for="validationDefault05" class="form-label">Password</label>
        <input type="text" class="form-control" id="validationDefault05" formControlName="password"
            placeholder="password" required>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
                Agree to terms and conditions
            </label>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit" [disabled]="!registerationForm.valid">Submit form</button>
    </div>
</form>